<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuebao.homeworksubmission.mapper.HomeworkAssignmentsMapper">

    <resultMap id="BaseResultMap" type="com.xuebao.homeworksubmission.model.domain.HomeworkAssignments">
            <result property="homeworkID" column="homeworkID" jdbcType="INTEGER"/>
            <result property="userAccount" column="userAccount" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        homeworkID,userAccount,status
    </sql>
</mapper>
